
# Playwright
node_modules/
/test-results/
/live-tests.json
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
allure-results/
allure-report/

# Environment variables
.env
.auth/
